html {
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

body > * { 
    font-family: 'Overpass', sans-serif;
}

#state-start {
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
    border-radius: 2rem;
}

#logo-star {
    width: 18px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#round-star {
    background-color: hsl(213, 21%, 21%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin-bottom: 2rem;
}

.title { 
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.content {
    color: hsl(217, 12%, 63%);
    line-height: 1.4rem;
    margin-bottom: 2rem;
}

#list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#one-star, #two-star, #three-star, #four-star, #five-star {
    color: hsl(216, 12%, 54%);
    background-color: hsl(213, 21%, 21%);
    padding: 1rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

#button {
    background-color: hsl(25, 97%, 53%);
    appearance: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}

#state-end {
    display: none;
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
    border-radius: 2rem;
    text-align: center;
}

#thx-illustration {
    width: 150px;
    margin: 0 auto 2rem;
}

.rating-select {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 21%, 21%);
    width: 200px;
    margin: 0 auto 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

#list li.selected  {
    background-color: hsl(25, 97%, 53%) ;
    color: white;
}

.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    cursor: pointer;
  }
  